name: Publish NPM packages

env:
  NODE_VERSION: '20'
  BRANCH: 'main'

  SDK_PACKAGE_NAME: 'nd-test-ppp-1'
  SHARED_PACKAGE_NAME: 'nd-test-ppp-2'

  SDK_PACKAGE_PATH: './fir'
  SHARED_PACKAGE_PATH: './sec'

  NPM_REGISTRY: 'registry.npmjs.org'

on:
  push:
    branches: ['main']

jobs:
  publication:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          token: ${{ secrets.REPO_TOKEN }} 
          fetch-depth: 0

      - name: Checkout ${{ env.BRANCH }} branch
        run: git checkout ${{ env.BRANCH }}


      - name: Get ${{ env.SHARED_PACKAGE_NAME }} remote data
        id: get_shared_data
        run: |
      
          VERSION=$(npm view ${{ env.SHARED_PACKAGE_NAME }} version)
          REMOTE_HASH=$(npm view ${{ env.SHARED_PACKAGE_NAME }}@$VERSION dist.integrity)

          echo "shared_latest_version=${VERSION}" >> $GITHUB_OUTPUT
          echo "shared_remote_hash=${REMOTE_HASH}" >> $GITHUB_OUTPUT

      - name: Get ${{ env.SDK_PACKAGE_NAME }} remote data
        id: get_sdk_data
        run: |
      
          VERSION=$(npm view ${{ env.SDK_PACKAGE_NAME }} version)
          REMOTE_HASH=$(npm view ${{ env.SDK_PACKAGE_NAME }}@$VERSION dist.integrity)

          echo "sdk_latest_version=${VERSION}" >> $GITHUB_OUTPUT
          echo "sdk_remote_hash=${REMOTE_HASH}" >> $GITHUB_OUTPUT


      - name: Pack ${{ env.SDK_PACKAGE_NAME }} package
        continue-on-error: true
        id: sdk_pack
        working-directory: ${{ env.SDK_PACKAGE_PATH }}
        run: |
          npm version ${{ steps.get_sdk_data.outputs.sdk_latest_version }} --no-git-tag-version
          FILE=$(npm pack .)
          echo "sdk_file=$FILE" >> $GITHUB_OUTPUT

      - name: Pack ${{ env.SHARED_PACKAGE_NAME }} package
        continue-on-error: true
        id: shared_pack
        working-directory: ${{ env.SHARED_PACKAGE_PATH }}
        run: |
          npm version ${{ steps.get_shared_data.outputs.shared_latest_version }} --no-git-tag-version
          FILE=$(npm pack .)
          echo "shared_file=$FILE" >> $GITHUB_OUTPUT

      - name: ${{ env.SHARED_PACKAGE_NAME }} hashes processing
        id: shared_hashes
        working-directory: ${{ env.SHARED_PACKAGE_PATH }}
        run: |
          LOCAL_HASH=$(openssl dgst -sha512 -binary "$SHARED_FILE" | openssl base64 | tr -d '\n')
          REMOTE_HASH="$SHARED_REMOTE_HASH"
      
          if [ "$REMOTE_HASH" = "$LOCAL_HASH" ]; then
            echo "Hashes are equal, skipping publish."
            echo "should_publish_shared=false" >> "$GITHUB_OUTPUT"
          else
            echo "Hashes differ, will publish."
            echo "should_publish_shared=true" >> "$GITHUB_OUTPUT"
          fi
        env:
          SHARED_FILE: ${{ steps.shared_pack.outputs.shared_file }}
          SHARED_REMOTE_HASH: ${{ steps.get_shared_data.outputs.shared_remote_hash }}
        
      - name: ${{ env.SDK_PACKAGE_NAME }} hashes processing
        id: sdk_hashes
        working-directory: ${{ env.SDK_PACKAGE_PATH }}
        run: |
          LOCAL_HASH=$(openssl dgst -sha512 -binary "$SDK_FILE" | openssl base64 | tr -d '\n')
          REMOTE_HASH="$SDK_REMOTE_HASH"
      
          if [ "$REMOTE_HASH" = "$LOCAL_HASH" ]; then
            echo "Hashes are equal, skipping publish."
            echo "should_publish_sdk=false" >> "$GITHUB_OUTPUT"
          else
            echo "Hashes differ, will publish."
            echo "should_publish_sdk=true" >> "$GITHUB_OUTPUT"
          fi
        env:
          SDK_FILE: ${{ steps.sdk_pack.outputs.sdk_file }}
          SDK_REMOTE_HASH: ${{ steps.get_sdk_data.outputs.sdk_remote_hash }}
        

      - name: Bump ${{ env.SHARED_PACKAGE_NAME }} version
        working-directory: ${{ env.SHARED_PACKAGE_PATH }}
        if: steps.shared_hashes.outputs.should_publish_shared == 'true'
        run: |
          npm version patch --no-git-tag-version
          git add package.json

      - name: Bump ${{ env.SDK_PACKAGE_NAME }} version
        working-directory: ${{ env.SDK_PACKAGE_PATH }}
        if: steps.sdk_hashes.outputs.should_publish_sdk == 'true'
        run: |
          npm version patch --no-git-tag-version
          git add package.json

      - name: ${{ env.SHARED_PACKAGE_NAME }} publication
        working-directory: ${{ env.SHARED_PACKAGE_PATH }}
        if: steps.shared_hashes.outputs.should_publish_shared == 'true'
        run: |
          echo "//${{ env.NPM_REGISTRY }}/:_authToken=${{ secrets.NPM_TOKEN }}" > ./.npmrc
          npm publish

      - name: ${{ env.SDK_PACKAGE_NAME }} publication
        working-directory: ${{ env.SDK_PACKAGE_PATH }}
        if: steps.sdk_hashes.outputs.should_publish_sdk == 'true'
        run: |
          echo "//${{ env.NPM_REGISTRY }}/:_authToken=${{ secrets.NPM_TOKEN }}" > ./.npmrc
          npm publish

      - name: Sync repository
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git commit -m "Synchronizing npm package versions"
          
          git push origin ${{env.BRANCH}} --force
