name: CD

env:
  NODE_VERSION: '20'
  PACKAGE_NAME: 'nd-test-mkh'
  NPM_REGISTRY: 'https://registry.npmjs.org/'

on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Get Last Two NPM Versions
        id: get_versions
        run: |
      
          VERSIONS_JSON=$(npm view ${{ env.PACKAGE_NAME }} versions --json)

          echo "versions_json: $VERSIONS_JSON"

          TWO_LATEST_DESC=$(echo "$VERSIONS_JSON" | jq -r '.[-2:] | reverse | .[]')

          echo "two_latest_desc: $TWO_LATEST_DESC"
          
          mapfile -t VERSION_ARRAY <<< "$TWO_LATEST_DESC"

          echo "latest_version=${VERSION_ARRAY[0]}" >> $GITHUB_OUTPUT
          echo "previous_version=${VERSION_ARRAY[1]}" >> $GITHUB_OUTPUT
        

      - name: Get remote shasum
        id: remote
        run: |
          REMOTE_HASH=$(npm view ${{ env.PACKAGE_NAME }}@${{ steps.get_versions.outputs.latest_version }} dist.integrity)
          echo "remote_hash=$REMOTE_HASH" >> $GITHUB_OUTPUT

      - name: Pack local package
        id: pack
        run: |
          node versionSubstitution.js ./package.json ${{ steps.get_versions.outputs.latest_version }}
          FILE=$(npm pack .)
          echo "file=$FILE" >> $GITHUB_OUTPUT

      - name: Calculate local shasum
        id: local
        run: |
          LOCAL_HASH=$(openssl dgst -sha512 -binary "${{ steps.pack.outputs.file }}" | openssl base64 | tr -d '\n')
          echo "local_hash=sha512-$LOCAL_HASH" >> $GITHUB_OUTPUT

      - name: Compare hashes
        id: compare
        run: |
          if [ "${{ steps.remote.outputs.remote_hash }}" = "${{ steps.local.outputs.local_hash }}" ]; then
            echo "Hashes are equal, skipping publish."
            echo "should_publish=false" >> $GITHUB_OUTPUT
          else
            echo "Hashes differ, will publish."
            echo "should_publish=true" >> $GITHUB_OUTPUT
          fi

      - name: Configure npm token
        run: |
          echo "//${{ env.NPM_REGISTRY }}/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Bump version
        if: steps.compare.outputs.should_publish == 'true'
        run: |
          npm version patch --no-git-tag-version

      - name: Publish to npm
        if: steps.compare.outputs.should_publish == 'true'
        run: npm publish ./
